%h2 User Information 
%p#notice= notice

%p
  %b First Name: 
  %span= @user.first_name
%p
  %b Last Name: 
  %span= @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Doantion information:
  = @user.donate_info
%p
  %b Journal reminder:
  %span= @user.journal_reminder
%p
  %b Level:
  %span= @user.level
%p
  %b Roles:
  %span= @user.roles
%p
  %b Verified email:
  %span= @user.verified_email
%p
  %b Update via sms:
  = @user.update_via_sms

= link_to 'Edit', edit_user_path(@user) |
= link_to 'Back', users_path
